In [3]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import svm, linear_model, metrics
from sklearn.model_selection import train_test_split, cross_val_score

In [20]:
data = pd.read_csv("joined_data.csv")
data = data[data.columns[4:]] # Dropping first columns. 
data

,core_goals,core_assists,core_saves,core_shots,core_score,demo_inflicted,demo_taken,advanced_rating
0,3,0,4,9,1119,2,2,0.863590
1,2,5,2,13,1209,2,0,1.350500
2,4,2,2,12,1077,2,5,1.232970
3,1,1,8,5,1086,1,2,0.806692
4,3,0,4,4,948,3,3,1.077983
...,...,...,...,...,...,...,...,...
25479,6,8,10,18,2886,6,5,1.306242
25480,3,4,6,12,1719,7,9,0.755061
25481,6,3,11,11,2462,8,5,1.148616
25482,6,2,5,27,2251,10,10,0.949304
25483,1,5,12,8,1987,7,6,0.684767

In [32]:
# Splitting Data
Y = data["advanced_rating"].to_numpy()
X = data[['core_goals','core_assists', 'core_saves', 'core_shots', 'core_score','demo_inflicted', 'demo_taken']].to_numpy()

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=404)

In [33]:
model = linear_model.Ridge()
model.fit(X_train,Y_train)
model.score(X_test, Y_test)

0.7911053259229601

In [34]:
print(f'model intercept is {model.intercept_} and model coefficients are {model.coef_}')

model intercept is 0.6559595152813994 and model coefficients are [ 0.18192036  0.10850757  0.04842838  0.00215379 -0.0004514  -0.00764043
 -0.0118235 ]